body {
  margin: 0;
  padding: 0;
  -moz-user-select: none;
}
.win {
  border: 1px solid;
  border-radius: 10px;
  background: #E7E8E2;
  margin: 10px;
  padding: 5px;
}

.win.current_win {
  background: #F8A885;
}

/*  -moz-drag-over not working??

.win:-moz-drag-over {
  border: 3px solid;
  background: white;
}
*/

div.container{
  /* display: -moz-box; */
  display: flex;
  -moz-box-pack: justify;
  -moz-box-sizing: border-box;
}
.win.new_win {
  background: #A8EFAF;
  /* float: left; */
  margin-top: 0;
  margin-right: 5px;
  width: 50%;
}

.win.close_tab {
  background: #B24444;
  /* float: right; */
  margin-top: 0;
  margin-left: 5px;
  width: 50%;
}

.tab {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*
.tab[data-tooltip]:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  left: 15px;
  border: 1px #aaaaaa solid;
  border-radius: 2px;
  background-color: #dddddd;
  color: #000000;
  overflow: hidden;
  white-space: normal;
  text-overflow: visible;
  opacity: 0.6;
}
*/

.tab.current_tab {
  text-decoration: underline;
  color: red;
}
